<?xml version="1.0"?>
<configuration>

    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\igaitur\documents\visual studio 2012\projects\gethairdresser\gethairddresser.service\web_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\users\igaitur\documents\visual studio 2012\projects\gethairdresser\gethairddresser.service\web_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="GetHairdDresser.Service.UserService">
                <endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="" contract="GetHairdDresser.Service.IUserService" />
            </service>
            <service name="GetHairdDresser.Service.MessagesService">
                <endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="" contract="GetHairdDresser.Service.IMessagesService" />
            </service>
            <service name="GetHairdDresser.Service.JobAppointmentsService">
                <endpoint address=""
                    binding="basicHttpBinding" bindingConfiguration="" contract="GetHairdDresser.Service.IJobAppointmentsService" />
            </service>
            <service name="GetHairdDresser.Service.HairdressInfoService">
                <endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="" contract="GetHairdDresser.Service.IHairdressInfoService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
