@{
    ViewBag.Title = "HairDressProfile";
}

<h2>HairDressProfile</h2>
<input type="text" id="Dob" />

 @section Scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Dob").datepicker();
        });
    </script>
}
