@{
    ViewBag.Title = "HairdresserList";
}

<h2>HairdresserList</h2>





@Scripts 
{<script type="text/javascript">
$(document).ready(function(){
  // ---- Календарь -----
  $('#example').datepicker();
  $('#exampleRange').attachDatepicker({
  	rangeSelect: true,
  	yearRange: '2000:2010',
  	firstDay: 1
  });
  // ---- Календарь -----
});
}