@{
    
    GetHairdresser.Client.UserService.UserServiceClient service = new GetHairdresser.Client.UserService.UserServiceClient();
    GetHairDresser.Common.User [] items = service.GetAllHairdress();
    List<GetHairDresser.Common.User> list = null;
    if (items != null)
    {list = items.ToList();}
        
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
            </hgroup>
        </div>
    </section>
}
<h3>The following hairdressers:</h3>
@if(list!=null)
{
<ol class="round">
   <table class="table table-striped">
       <tr>
           <td>Name</td>
           <td>Location</td>
           <td>Rating</td>
        </tr>
       @foreach(var item in list)
       {
           <tr>
            <td>@item.firstName.ToString() @item.lastName.ToString()</td>
             <td>@item.location.ToString()</td>
              <td>@item.hairdressInfo.rating</td>
           </tr>
       }
   </table> 
   
</ol>
}
